<?xml version="1.0"?>
<config>
    <modules>
        <Gala_Galagiftshopsettings>
            <version>0.1.0</version>
        </Gala_Galagiftshopsettings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <galagiftshop>
                                            <title>Image Configure</title>
                                        </galagiftshop>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
				<galagiftshopsettings>
					<file>galagiftshopsettings.xml</file>
				</galagiftshopsettings>
            </updates>
        </layout>
		<menu>
			<emthemes translate="title">
				<title>Galathemes</title>
				<sort_order>72</sort_order>
				<children>
					<galagiftshop_setting module="galagiftshopsettings" translate="title">
						<title>Gala Giftshop Settings</title>
						<sort_order>10</sort_order>
						<action>adminhtml/system_config/edit/section/galagiftshop/</action>
					</galagiftshop_setting>
                    <galagiftshop_visual_content_editor module="galagiftshopsettings" translate="title">
						<title>Visual Content Editor</title>
						<sort_order>110</sort_order>
						<action>galagiftshopsettings_admin/adminhtml_visual/previewBlock/</action>
					</galagiftshop_visual_content_editor>
					<help module="galagiftshopsettings" translate="title">
						<title>Help &amp; Support</title>
						<sort_order>200</sort_order>
						<children>
							<galagiftshop_userguide module="galagiftshopsettings" translate="title">
								<title>Gala Dorboutique User Guide</title>
								<sort_order>10</sort_order>
								<action>adminhtml/galagiftshopsettings_link/faqs/</action>
							</galagiftshop_userguide>
							<forum module="galagiftshopsettings" translate="title">
                                <title>Request installation</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/galagiftshopsettings_link/requestinstallation/</action>
                            </forum>
                            <ticket module="galagiftshopsettings" translate="title">
                                <title>Technical support</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/galagiftshopsettings_link/technicalsupport/</action>
                            </ticket>                            
                            <contact_us module="galagiftshopsettings" translate="title">
                                <title>Contact Us</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/galagiftshopsettings_link/contactus/</action>
                            </contact_us>
						</children>
					</help>
				</children>
			</emthemes>
		</menu>
    </adminhtml>

    <frontend>
        <routers>
            <galagiftshopsettings>
                <use>standard</use>
                <args>
                    <module>Gala_Galagiftshopsettings</module>
                    <frontName>galagiftshopsettings</frontName>
                </args>
            </galagiftshopsettings>
        </routers>
        <layout>
            <updates>
                <galagiftshopsettings>
                    <file>galagiftshopsettings.xml</file>
                </galagiftshopsettings>
            </updates>
        </layout>
		<events>
    		<controller_action_layout_generate_blocks_before>
    			<observers>
    				<galagiftshop_config_after_save>
    					<class>Gala_Galagiftshopsettings_Model_Observer</class>
    					<method>beforeGenerateBlocks</method> 
    				</galagiftshop_config_after_save>
    			</observers>
    		</controller_action_layout_generate_blocks_before>		
			<catalog_product_collection_load_before>
    			<observers>
    				<galagiftshopsettings>
    					<class>Gala_Galagiftshopsettings_Model_Observer</class>
    					<method>beforeCatalogProductCollectionLoad</method> 
    				</galagiftshopsettings>
    			</observers>
    		</catalog_product_collection_load_before>
            <core_block_abstract_to_html_after>
				<observers>
					<galagiftshop_designer>
						<class>galagiftshopsettings/observer</class>
						<method>processAfterHtmlDispatch</method>
					</galagiftshop_designer>
				</observers>
			</core_block_abstract_to_html_after>
    	</events>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<galagiftshopsettings before="Mage_Adminhtml">Gala_Galagiftshopsettings_Adminhtml</galagiftshopsettings>
					</modules>
				</args>
			</adminhtml>
            <galagiftshopsettings>
				<use>admin</use>
                <args>
					<module>Gala_Galagiftshopsettings</module>
					<frontName>galagiftshopsettings_admin</frontName>
                </args>
            </galagiftshopsettings>
            <cms>
                <args>
                    <modules>
                        <galagiftshopsettings before="Mage_Cms">Gala_Galagiftshopsettings</galagiftshopsettings>
                    </modules>
                </args>
            </cms>
		</routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Gala_Galagiftshopsettings>
							<title>galagiftshopsettings Module</title>
							<sort_order>10</sort_order>
						</Gala_Galagiftshopsettings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<galagiftshopsettings>
					<file>galagiftshopsettings.xml</file>
				</galagiftshopsettings>
			</updates>
		</layout>
        <events>
    		<controller_action_postdispatch_adminhtml_system_config_save>
    			<observers>
    				<config_after_save>
    					<class>Gala_Galagiftshopsettings_Model_Observer</class>
    					<method>afterConfigSave</method> 
    				</config_after_save>
    			</observers>
    		</controller_action_postdispatch_adminhtml_system_config_save>		
    	</events> 
    </adminhtml>
    
    <global>
        <blocks>
            <tag>
                <rewrite>
                    <popular>Gala_Galagiftshopsettings_Block_Popular</popular>
                </rewrite>
            </tag>
        </blocks>
        <models>
            <galagiftshopsettings>
                <class>Gala_Galagiftshopsettings_Model</class>
                <resourceModel>galagiftshopsettings_mysql4</resourceModel>
            </galagiftshopsettings>
            <galagiftshopsettings_mysql4>
                <class>Gala_Galagiftshopsettings_Model_Mysql4</class>
                <entities>
                    <galagiftshopsettings>
                        <table>galagiftshopsettings</table>
                    </galagiftshopsettings>
					<megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
                    <media>
                        <table>em_slideshow2_media</table>
                    </media>
					<slider>
                        <table>em_slideshow2_slider</table>
                    </slider>
                </entities>
            </galagiftshopsettings_mysql4>
        </models>
        <resources>
            <galagiftshopsettings_setup>
                <setup>
                    <module>Gala_Galagiftshopsettings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </galagiftshopsettings_setup>
            <galagiftshopsettings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </galagiftshopsettings_write>
            <galagiftshopsettings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </galagiftshopsettings_read>
        </resources>
        <blocks>
            <galagiftshopsettings>
                <class>Gala_Galagiftshopsettings_Block</class>
            </galagiftshopsettings>
        </blocks>
        <helpers>
            <galagiftshopsettings>
                <class>Gala_Galagiftshopsettings_Helper</class>
            </galagiftshopsettings>
			<!--catalog>
				<rewrite>
					<image>Gala_Galagiftshopsettings_Helper_CatalogImage</image>
				</rewrite>
			</catalog-->
        </helpers>
    </global>
	<default>
		<galagiftshop>
			<general>
				<main_menu>default_ver</main_menu>
				<freezed_top_menu>0</freezed_top_menu>
				<disable_frontend_variation>1</disable_frontend_variation>
                <disable_social>1</disable_social>
                <reverse>0</reverse>
                <box_wide>wide</box_wide>
                <page_bg_color></page_bg_color>
                <page_bg_file></page_bg_file>
                <page_bg_image></page_bg_image>                
                <page_bg_position></page_bg_position>
                <page_bg_repeat></page_bg_repeat>
			</general>
            <typography>
                <google_fonts>Open Sans, Lobster</google_fonts>
				<general_font></general_font>
				<h1_font>normal 24px/1.15 Open Sans,Arial, Helvetica, sans-serif</h1_font>
				<h2_font></h2_font>
				<h3_font>normal 18px/1.25 Open Sans,helvetica,arial,sans-serif</h3_font>
				<h4_font></h4_font>
				<h5_font></h5_font>
                <h6_font></h6_font>
            </typography>
			<header>
                <head_text_color></head_text_color>
                <head_text2_color></head_text2_color>
                <head_text3_color></head_text3_color>
                <head_bg_color></head_bg_color>
                <head_bg2_color></head_bg2_color>
				<head_bg3_color></head_bg3_color>
                <head_line_color></head_line_color>
                <head_line2_color></head_line2_color>
                <head_bg_image></head_bg_image>
                <head_bg_file></head_bg_file>
                <head_bg_position></head_bg_position>
                <head_bg_repeat></head_bg_repeat>
             </header>
             <menu>
                <tm_bg_color></tm_bg_color>
                <tm_text_color></tm_text_color>
                <tm_hover_text_color></tm_hover_text_color>
                <tm_font></tm_font>
                <dm_bg_color></dm_bg_color>
                <dm_hover_bg_color></dm_hover_bg_color>
                <dm_text_color></dm_text_color>
                <dm_text2_color></dm_text2_color>
                <dm_text3_color></dm_text3_color>
                <dm_hover_text_color></dm_hover_text_color>
                <dm_font></dm_font>
            </menu>
            <body>
                <bd_bg_color></bd_bg_color>
                <bd_bg_image></bd_bg_image>
                <bd_bg_position></bd_bg_position>
                <bd_bg_repeat></bd_bg_repeat>
                
                <bd_text_color></bd_text_color>
                <bd_text2_color></bd_text2_color>
                <bd_text3_color></bd_text3_color>
                <bd_text4_color></bd_text4_color>
				
                <bd_line_color></bd_line_color>
                <bd_line2_color></bd_line2_color>
                <bd_line3_color></bd_line3_color>
                
                <bd_box_shadow></bd_box_shadow>				
                <bd_rounded_corner></bd_rounded_corner>
            </body>            
            <footer>
                <foot_bg_color></foot_bg_color>
                <foot_bg_image></foot_bg_image>
                <foot_bg_position></foot_bg_position>
                <foot_bg_repeat></foot_bg_repeat>
                <foot_text_color></foot_text_color>
                <foot_line_color></foot_line_color>
            </footer>
            <button>
                <btn1_bg_color></btn1_bg_color>
                <btn1_text_color></btn1_text_color>
                <btn1_line_color></btn1_line_color>
                <btn1_font></btn1_font>
                <btn2_bg_color></btn2_bg_color>
                <btn2_text_color></btn2_text_color>
                <btn2_line_color></btn2_line_color>
                <btn2_font></btn2_font>
            </button>
            <products_grid>
            </products_grid>
            <products_list>
            </products_list>            
			<image_product>
				<viewmode></viewmode>
				<cloud_zoom_width></cloud_zoom_width>
				<cloud_zoom_height></cloud_zoom_height>
			</image_product>
			<ajaxcart>
				<auto_close>0</auto_close>
			</ajaxcart>
            <flashtag>
                <enabled>0</enabled>
                <count>100</count>
                <back>#ffffff</back>
                <max>20</max>
                <min>12</min>
                <maxcolor>#969696</maxcolor>
                <normal>#969696</normal>
                <hover> #969696</hover>
                <speed>1000</speed>
            </flashtag>
		</galagiftshop>
	</default>
</config>