/*========== Header ==========*/
.form-search input.input-text{background:/*BEGIN:head_text2_color*/#fff/*END:head_text2_color*/;}
.form-search .catsearch-dropdown{background-color:/*BEGIN:head_text2_color*/#fff/*END:head_text2_color*/;}

a.top-link-cart span.qty-top-cart{
background-color:/*BEGIN:btn1_line_color*/#d85ba9/*END:btn1_line_color*/;}
.top-cart-inner .top-cart{
background-color:/*BEGIN:btn1_bg_color*/#ee76c1/*END:btn1_bg_color*/;
border: 1px solid /*BEGIN:btn1_line_color*/#d85ba9/*END:btn1_line_color*/;}

.form-search .catsearch-dropdown ul{
background-color:/*BEGIN:head_text2_color*/#fff/*END:head_text2_color*/;}
/*========== End: Header ==========*/
.validation-advice { background:url(../images/icons_green.png) -795px -614px no-repeat;  }

.em-sidebar .widget-title h2, 
.em-sidebar .block .block-title span, 
.em-sidebar #customer-reviews h2 span, 
.em-sidebar .widget-title h3 span{color:/*BEGIN:head_bg3_color*/#584c90/*END:head_bg3_color*/;}

/*========== Slideshow ==========*/
.tp-simpleresponsive .caption.bkg_color,
.tp-simpleresponsive .tp-caption.bkg_color{
background-color:#ee76c1;}

/*========== Widget ==========*/
.widget-title{border-bottom:1px solid /*BEGIN:bd_text3_color*/#ee76c1/*END:bd_text3_color*/;}
.sample-block p.h5, .sample-block h3{
color:/*BEGIN:bd_text4_color*/#141414/*END:bd_text4_color*/;}

/*========== Footer==========*/


.sample-block a.view-more{
background:url(../images/icons.png) no-repeat right -423px;
color:/*BEGIN:bd_text_color*/#969696/*END:bd_text_color*/;}

/*========== Menu ==========*/
.em_nav .title_menu .arrow{ background:url(../images/icons_green.png)-213px -384px no-repeat; }

#nav ul li.parent > a { background:url(../images/menu_nav_green.png) 90% center no-repeat}
.em_nav a.arrow span { background:url(../images/menu_nav_green.png) center center no-repeat}
.vnav > .menu-item-depth-0 > a.arrow span,
.vnav > .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow span {
background:url(../images/menu_nav_green.png) center right no-repeat}
.em-col-right .vnav > .menu-item-depth-0 > a.arrow span,
.em-col-right .vnav > .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow span {  background:url(../images/menu_nav_right_blue.png) center right no-repeat}
.nav-right a.arrow span{background:url(../images/menu_nav_right_green.png) center center no-repeat}
.em-col-right a.arrow span {background:url(../images/menu_nav_right_green.png) center left no-repeat}
.nav-right > .menu-item-depth-0 > a.arrow span{background:url(../images/menu_nav_right_green.png) center left no-repeat}
.em-col-right .vnav > .menu-item-depth-0 > a.arrow span {background:url(../images/menu_nav_right_green.png) center right no-repeat}

.adapt-0 .hnav .menu-item-depth-0 > .em-catalog-navigation > li > a.arrow span,
.adapt-0 .em_nav .vnav > li.menu-item-parent:hover > a.arrow span,
.adapt-0 .em_nav .vnav > li.menu-item-parent > a.arrow span,
.adapt-0  .em_nav .hnav > li.menu-item-parent > a.arrow span
 { text-align:left; background:url(../images/menu_nav_green.png) center right no-repeat!important }
 
.adapt-0 .nav-right a.arrow span{background:url(../images/menu_nav_green.png) center center no-repeat}
.adapt-0 .em-col-right a.arrow span {background:url(../images/menu_nav_green.png) center right no-repeat}
.adapt-0 .em-col-right .vnav > .menu-item-depth-0 > a.arrow span,
.adapt-0 .em-col-right .vnav > .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow span {background:url(../images/menu_nav_green.png) center right no-repeat}


.adapt-0 .em_nav > ul > .menu-item-text > .em-catalog-navigation li.level0 > a.arrow,
.adapt-0 .vnav li.menu-item-parent > a.arrow, 
.adapt-0 .em_nav .hnav > li.menu-item-parent > a.arrow,
.adapt-0 .vnav > .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow,
.adapt-0 .vnav > li.menu-item-parent:hover > a.arrow,
.adapt-0 .vnav > li.menu-item-parent > a.arrow{width:30px;
border: 1px solid /*BEGIN:bd_line_color*/#e6e6e6/*END:bd_line_color*/!important;border-right:0!important;border-bottom:0!important;}

.adapt-0 .hnav .menu-item-depth-0 > .em-catalog-navigation > li > a.arrow span,
.adapt-0 .vnav > .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow span,
.adapt-0 .em_nav .vnav > li.menu-item-parent:hover > a.arrow span,
.adapt-0 .em_nav .vnav > li.menu-item-parent > a.arrow span,
.adapt-0  .em_nav .hnav > li.menu-item-parent > a.arrow span{background-position:center center!important;}
.adapt-0 .vnav li.menu-item-depth-0.last, 
.adapt-0 .vnav li.menu-item-depth-0.parent.last{border-bottom:none;}
.adapt-0 .em_nav .hnav > .menu-item-link, 
.adapt-0 .em_nav .hnav > .menu-item-text > .em-catalog-navigation > .level0,
.adapt-0 .vnav > li.menu-item-depth-0{border:1px solid /*BEGIN:bd_line_color*/#e6e6e6/*END:bd_line_color*/;border-top:0; }

.adapt-0 #menuleft.vnav > li.menu-item-depth-0,
.adapt-0 .vnav li.menu-item-depth-0:first-child,
.adapt-0 .hnav .menu-item-depth-0:first-child,
.adapt-0 .vnav li.menu-item-depth-0.menu-item-parent:first-child, 
.adapt-0 .vnav li.menu-item-depth-0.parent:first-child{
border-top: 1px solid /*BEGIN:bd_line_color*/#e6e6e6/*END:bd_line_color*/;}
.adapt-0 .vnav > .menu-item-depth-0 > .em-catalog-navigation > .level0 > a{margin-left:0;
padding:8px 10px;}
.adapt-0 .vnav > li.menu-item-depth-0 a.arrow{width:30px!important;}
.adapt-0 .menu-item-text.menu-item-depth-0{display:block;}
.adapt-0 .vnav li.menu-item-depth-0.last{
border-bottom: 1px solid /*BEGIN:bd_line_color*/#e6e6e6/*END:bd_line_color*/;}
.adapt-0 .vnav > .menu-item-depth-0 > .em-catalog-navigation > .level0:first-child{border-top:0;}
.adapt-0 .vnav li.menu-item-depth-1 a.arrow{border:0!important;}