/* font */;
font: /*BEGIN:general_font*/normal 12px/1.35 Arial, Helvetica, sans-serif/*END:general_font*/;
font:/*BEGIN:h1_font*/normal 22px/1.15 Arial, Helvetica, sans-serif /*END:h1_font*/;
font:/*BEGIN:h2_font*/ normal 20px/1.25 Arial, Helvetica, sans-serif/*END:h2_font*/;
font:/*BEGIN:h3_font*/normal 18px/1.25 Arial, Helvetica, sans-serif/*END:h3_font*/;
font:/*BEGIN:h4_font*/normal 16px/1.35 Arial, Helvetica, sans-serif/*END:h4_font*/;
font:/*BEGIN:h5_font*/normal 14px/1.35 Arial, Helvetica, sans-serif/*END:h5_font*/;
font:/*BEGIN:h6_font*/normal 12px/1.35 Arial, Helvetica, sans-serif/*END:h6_font*/;

/* header */	
color:/*BEGIN:head_text_color*/#969696/*END:head_text_color*/; 
color:/*BEGIN:head_text2_color*/#fff/*END:head_text2_color*/;
color:/*BEGIN:head_text3_color*/#ed6cbc/*END:head_text3_color*/;

background-color:/*BEGIN:head_bg_color*/#fff/*END:head_bg_color*/;
background-color:/*BEGIN:head_bg2_color*/#ee76c1/*END:head_bg2_color*/;/*cart, logo*/
background-color:/*BEGIN:head_bg3_color*/#584c90/*END:head_bg3_color*/;/*search*/
background-image: /*BEGIN:head_bg_image*/url(../images/stripes/blank.gif)/*END:head_bg_image*/;
background-position: /*BEGIN:head_bg_position*/0 0/*END:head_bg_position*/;
background-repeat: /*BEGIN:head_bg_repeat*/repeat/*END:head_bg_repeat*/;
border:1px solid /*BEGIN:head_line_color*/#473d75/*END:head_line_color*/;
border:1px solid /*BEGIN:head_line2_color*/#d85ba9/*END:head_line2_color*/;/*pink*/

 
/* menu */
/* top menu*/
background-color:/*BEGIN:tm_bg_color*/#fff/*END:tm_bg_color*/;
color:/*BEGIN:tm_text_color*/#969696/*END:tm_text_color*/;
color:/*BEGIN:tm_hover_text_color*/#ed6cbc/*END:tm_hover_text_color*/ ;
font:/*BEGIN:tm_font*/normal 12px/1.35 helvetica,arial,sans-serif /*END:tm_font*/;

/* dropdown menu */
background-color:/*BEGIN:dm_bg_color*/#fff/*END:dm_bg_color*/;
color:/*BEGIN:dm_text_color*/#969696/*END:dm_text_color*/;
color:/*BEGIN:dm_text2_color*/#ee76c1/*END:dm_text2_color*/;/*title*/
color:/*BEGIN:dm_text3_color*/#473d75/*END:dm_text3_color*/;
color:/*BEGIN:dm_hover_text_color*/#1e1e1e/*END:dm_hover_text_color*/;
font:/*BEGIN:dm_font*/normal 12px/1.35 helvetica,arial,sans-serif /*END:dm_font*/;


/* body */
background-color:/*BEGIN:bd_bg_color*/#fff/*END:bd_bg_color*/;
background-image: /*BEGIN:bd_bg_image*/url(../images/stripes/blank.gif)/*END:bd_bg_image*/;
background-position:/*BEGIN:bd_bg_position*/0 0/*END:bd_bg_position*/;
background-repeat:/*BEGIN:bd_bg_repeat*/repeat/*END:bd_bg_repeat*/;
    
color:/*BEGIN:bd_text_color*/#969696/*END:bd_text_color*/; 
color:/*BEGIN:bd_text2_color*/#473d75/*END:bd_text2_color*/; /*product name*/
color:/*BEGIN:bd_text3_color*/#ee76c1/*END:bd_text3_color*/; /*title*/
color:/*BEGIN:bd_text4_color*/#141414/*END:bd_text4_color*/; /*price*/
	
border: 1px solid /*BEGIN:bd_line_color*/#e6e6e6/*END:bd_line_color*/;
border: 1px solid /*BEGIN:bd_line2_color*/#ee76c1/*END:bd_line2_color*/;
border: 1px solid /*BEGIN:bd_line3_color*/#584c90/*END:bd_line3_color*/;
    
border-radius:/*BEGIN:bd_rounded_corner*/4px/*END:bd_rounded_corner*/;
-moz-border-radius:/*BEGIN:bd_rounded_corner*/4px/*END:bd_rounded_corner*/;
-webkit-border-radius:/*BEGIN:bd_rounded_corner*/4px/*END:bd_rounded_corner*/;

box-shadow:/*BEGIN:bd_box_shadow*/ 0 1px 3px #D8D8DA /*END:bd_box_shadow*/ ;
-moz-box-shadow:/*BEGIN:bd_box_shadow*/ 0 1px 3px #D8D8DA /*END:bd_box_shadow*/ ;
-webkit-box-shadow: /*BEGIN:bd_box_shadow*/ 0 1px 3px #D8D8DA /*END:bd_box_shadow*/;
         
/* footer */
background-color:/*BEGIN:foot_bg_color*/#fff/*END:foot_bg_color*/;
background-image: /*BEGIN:foot_bg_image*/url(../images/stripes/blank.gif)/*END:foot_bg_image*/;
background-position:/*BEGIN:foot_bg_position*/0 0/*END:foot_bg_position*/;
background-repeat:/*BEGIN:foot_bg_repeat*/repeat/*END:foot_bg_repeat*/;
color:/*BEGIN:foot_text_color*/#969696/*END:foot_text_color*/;
border: 1px solid /*BEGIN:foot_line_color*/#ee76c1/*END:foot_line_color*/;

/* button */
/*Add to cart*/
background:/*BEGIN:btn1_bg_color*/#ee76c1/*END:btn1_bg_color*/;
color:/*BEGIN:btn1_text_color*/#fff/*END:btn1_text_color*/;
border: 1px solid /*BEGIN:btn1_line_color*/#d85ba9/*END:btn1_line_color*/;
font:/*BEGIN:btn1_font*/normal 12px/1.35 Arial, Helvetica, sans-serif/*END:btn1_font*/;
	
background:/*BEGIN:btn2_bg_color*/#584c90/*END:btn2_bg_color*/;
color:/*BEGIN:btn2_text_color*/#fff/*END:btn2_text_color*/;
border: 1px solid /*BEGIN:btn2_line_color*/#473d75/*END:btn2_line_color*/;
font:/*BEGIN:btn2_font*/normal 12px/1.35 Arial, Helvetica, sans-serif/*END:btn2_font*/;

/* wrapper */
background-color:/*BEGIN:page_bg_color*/#fff/*END:page_bg_color*/;
background-image: /*BEGIN:page_bg_image*/url(../images/stripes/blank.gif)/*END:page_bg_image*/;
background-position: /*BEGIN:page_bg_position*/0 0/*END:page_bg_position*/;
background-repeat: /*BEGIN:page_bg_repeat*/repeat/*END:page_bg_repeat*/;
